.fa-user{
   font-size: 7em;
}

h1 {
    color: #86C232;;
}

li {
    color:#6B6E70;
}

.text-gray {
    color:#6B6E70;
}

.container-fluid#front {
    height: 85vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-photo.jpg) no-repeat center center fixed;

}

.fa-lock{
    font-size: 5em;
    color:#6B6E70;

}
#jumbo{
    background-color: #222629;
}